@import "colors";
@import "compass/css3";
@import "compass/reset";
@import "compass/layout";
@import "compass/typography";

body {
    font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 12px;
}

#{headings()} {
    font-weight: bold;
    color: $dark-blue;
    margin-bottom: 10px;
}

h1 { font-size: 22px }
h2 { font-size: 20px }
h3 {
    font-size: 18px;
    margin-top: 10px;
}
h4 { font-size: 16px }


#header, #canvas, #footer, #account-menu { width: $site-width; }
#content {
    margin: $page-margin $page-margin 0 $page-margin
}

#main-menu, #title {
    width: $site-width / 2;
    padding-top: 10px;
    height: 40px;
    clear: none;
    border-bottom: 2px solid $light-orange;
}

#title { float: left; }
#main-menu { float: right; }
#main-menu nav {
    float: right;
    margin-right: $page-margin;
}

#title h1, #main-menu a { margin: 5px;}

#title h1 {
    width: 50%;
    margin-left: $page-margin;
}

#main-menu a {
    color: white;
    background-color: $light-orange;
    padding: 5px 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    @include border-radius(4px, 4px);
    @include inline-block;
}


#canvas {
    background-color: white;
    width: $site-width;
    display: block;
    margin: 0 auto;
}

#header {
    width: $site-width;
}

#content {
    padding: 20px 0
}

#account-menu {
    height: 20px;
    background-color: $blue;
    border-bottom: 1px solid $dark-blue;
}

#account-menu a {
    color: white;
    text-decoration: none;
}

#account-menu li {
    @include inline-block;
    float: right;
    padding: 3px;
    margin: 0 3px;
}

.center {
    text-align:center;
}

#main-menu {
    @include inline-block;
}

@include sticky-footer(200px, "#canvas", "#layout-footer", "#footer");
#footer {
    background-color: $dark-blue;
    border-top: 1px solid $blue;
}

#resume-container {
    width: 75%;
    float: right;
    min-height: 800px;
}

#resume {
    padding: 25px;
    width: 80%;
    margin: 50px auto 0 auto;
    height: 675px;
    border: 1px solid $dark-blue;
    text-align: center;
}

#achievements {
    float: left;
    width: 25%;
    background-color: $light-blue;
    min-height: 800px;
}

#achievements li { margin-left: 10px; list-style-type: none; }

#resume-achievements {
    text-align: left; min-height: 100px;
    margin-top: 40px;
}
#resume-achievements p { padding: 10px 0 }
#container {
    border-top: 2px solid $blue;
    border-left: 2px solid $blue;
    border-right: 2px solid $blue;
    @include clearfix;
    min-height: 800px;
}