- if @achievements.blank?
  %h3 You do not have any achievements. :'(
  %span= link_to "Create One", new_achievement_path
- else
  %ul
  - @achievements.each do |achievement|
    %li.achievement
      = achievement.description
      =link_to "add", add_achievement_path(achievement), :remote => true, :method => :post
